In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('data/covid_19_india.csv')

In [3]:
data

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1
2,3,2020-02-01,6:00 PM,Kerala,2,0,0,0,2
3,4,2020-02-02,6:00 PM,Kerala,3,0,0,0,3
4,5,2020-02-03,6:00 PM,Kerala,3,0,0,0,3
...,...,...,...,...,...,...,...,...,...
15801,15802,2021-06-08,8:00 AM,Telangana,-,-,564303,3394,593103
15802,15803,2021-06-08,8:00 AM,Tripura,-,-,49579,572,56169
15803,15804,2021-06-08,8:00 AM,Uttarakhand,-,-,313566,6731,334419
15804,15805,2021-06-08,8:00 AM,Uttar Pradesh,-,-,1662069,21333,1699083
15805,15806,2021-06-08,8:00 AM,West Bengal,-,-,1388771,16362,1432019

In [4]:
data.rename(columns={'State/UnionTerritory':'State'},inplace=True)

In [5]:
data.head(2)

,Sno,Date,Time,State,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,2020-01-30,6:00 PM,Kerala,1,0,0,0,1
1,2,2020-01-31,6:00 PM,Kerala,1,0,0,0,1

In [6]:
filt=(data['State']=='Uttar Pradesh')

In [11]:
d2=data[filt]

,Sno,Date,Time,State,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
39,40,2020-03-04,6:00 PM,Uttar Pradesh,6,0,0,0,6
50,51,2020-03-05,6:00 PM,Uttar Pradesh,7,0,0,0,7
55,56,2020-03-06,6:00 PM,Uttar Pradesh,7,0,0,0,7
58,59,2020-03-07,6:00 PM,Uttar Pradesh,7,0,0,0,7
72,73,2020-03-08,6:00 PM,Uttar Pradesh,7,0,0,0,7
...,...,...,...,...,...,...,...,...,...
15660,15661,2021-06-04,8:00 AM,Uttar Pradesh,-,-,1648771,20895,1695212
15696,15697,2021-06-05,8:00 AM,Uttar Pradesh,-,-,1652417,21031,1696325
15732,15733,2021-06-06,8:00 AM,Uttar Pradesh,-,-,1656763,21151,1697352
15768,15769,2021-06-07,8:00 AM,Uttar Pradesh,-,-,1659209,21236,1698389
15804,15805,2021-06-08,8:00 AM,Uttar Pradesh,-,-,1662069,21333,1699083

In [7]:
x1=np.array(d2['Cured'])
y1=np.array(d2['Deaths'])
# x2=np.array(d2['Date'])
fig=plt.figure()
ax=plt.axes()
ax.plot(x1,y1,'r')
ax.plot(x1,y1,'b')

NameError: name 'd2' is not defined